<ul>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="oculto">@Html.ActionLink("Livros", "Manutencao", "Alertas")</li>
    <li class="oculto">@Html.ActionLink("Clientes", "Manutencao", "Alertas")</li>
    <li class="oculto">@Html.ActionLink("Locações", "Manutencao", "Alertas")</li>
    <li class="oculto">@Html.ActionLink("Editoras", "Manutencao", "Alertas")</li>
    <li class="oculto">@Html.ActionLink("Autores", "Manutencao", "Alertas")</li>
    <li class="oculto">@Html.ActionLink("Avaliações", "Manutencao", "Alertas")</li>
    <li class="oculto">@Html.ActionLink("Categorias", "Manutencao", "Alertas")</li>
    <li>@Html.ActionLink("Classificação", "Index", "Classificacao")</li>
</ul>